# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: efd48af555a5fb171004b280cc5f5702c5aa8c14b7aac0f3c409e16eead43ff4bd3da29cdc50755fd6da4108f434be2447e76f8d98fea60a632b48c4633629fb

test:
  secret_key_base: 40b458a52f1fd321a1e49b0e2670d05ee8699215917c09443b2b7475c7b9dac0df5e90aa4b9b7240913f2395a935f3c1c9813cba4c75407b4a8cbb6a87f6c969

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
